<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
    <link rel="stylesheet" href="/css/home.css"> 
  </head>
  <body>
    <div class="header-container">
        <h1>To-do List</h1>
        <h1>Welcome <%= email %></h1>
        <div class="tabButtons" id="tabButtonsDiv">
          <form action="/home" method="GET">
            <button id="homeButton">Home</button>
          </form>
          <form action="/history" method="GET">
            <button id="historyButton">History</button>
          </form>
          
          <!-- The login/logout button will change depending on if the user has logged in -->
          <% if (email) { %>
            <form action="/logout" method="POST">
              <button id="logoutButton" type="submit">Logout</button>
            </form>
          <% } else { %>
            <button id="loginButton" onclick="openLogin()">Log In</button>
          <% } %>

        </div>
      </div>

      <div>
        <h1 style="margin-left: 46%">History</h1>
      </div>

      <!-- Used to check whether the login credentials match  -->
      <div class="login-popup" id="popUp">
        <form action="/login" method="POST" class="form-container">
          <h1>Login</h1>
          <input type="email" placeholder="Email or Phone" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
          <button type="submit" class="btn login">Login</button>
          <button type="button" class="btn cancel" onclick="closeLogin()">X</button>
        </form>
      
        <!-- Used to store the registered username and password into MongoDB  -->
        <form action="/register" method="POST" class="form-container">
          <h1>Register</h1>
          <input type="email" placeholder="Email or Phone" name="email" required>
          <input type="password" placeholder="Password" name="password" required>
          <button type="submit" class="btn register">Register</button>
          <button type="button" class="btn cancel" onclick="closeLogin()">X</button>
        </form>
      </div>
      
      
      <div class="task-list" id="historyContainer">
        <div class="textarea-container">
        <br>
        </div>
      </div>

      <script src="/js/home.js"></script>
      <script src="/js/popup.js"></script> 
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          displayAllHistoryTasks(); // Call the function to display tasks
        });
      </script>
      
  </body>
</html>
