body,html{
  margin: 0;
  padding: 0;
  width: 100%;
}

.task-group, .taskInputAdd{
  width: 50%;
  margin:auto;
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding:20px;
}

.header-container h1 {
  margin: 0;
  flex-grow: 1;
  text-align: left;

}
#loginPassword {
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-list{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:auto;
}

.textarea-container{
  display: flex;
  align-items: center;
  padding:1%;
}

.addedTaskButtons{
  display: flex;
  flex-direction: column;
}

textarea{
  resize: none; 
  /* border: none; */ /*make it so that if you edit, it will show boarder, otherwise no boarder*/
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 100px;
  position: relative;
  margin-left: 50px;
}

updatedTextarea{
  resize: none; 
  /* border: none; */ /*make it so that if you edit, it will show boarder, otherwise no boarder*/
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 100px;
  position: relative;
  margin-left: 50px; 
}

.textbox{
  resize: none; 
  /* border: none; */ /*make it so that if you edit, it will show boarder, otherwise no boarder*/
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
  height: 100px;
  position: relative;
  margin-right: 50px;
}

.textboxDiv {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.textbox {
  flex: 1;
  margin-right: 10px;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
}

.buttonDiv button {
  margin-right: 5px;
}

.header-container .tabButtons button {
  width: 200px;
  height: 50px;
  padding: 5px;
  outline: none;
  background-color: transparent;
  border-style: none;
  cursor: pointer;

}

/* The login popup - hidden by default */
.login-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border: 3px solid #f1f1f1; 
  padding: 20px; 
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  width: 300px;
  height: 600px;
  z-index: 1; /* Moves the popup infront of everything */
}

input[type=email]{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top:5%;
}

input[type=password]{
  width: 250px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top:5%;
}

button.btn.login{
  width: 200px;
  height: 40px; 
  position:absolute;
  top:70%;
  transform: translateX(-110%); 
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10%;
}

button.btn.register{
  width: 200px;
  height: 40px; 
  position:absolute;
  top:80%;
  transform: translateX(-110%); 
  border-radius: 10px;
  border: 1px solid black;
  margin-top: 10%; 
}

button.btn.cancel{
  position:absolute;
  top: 1%;
  right: 4%;
}


/* Helps format the buttons better */
.header-container{
  padding:20px;
}

.tabButtons{
display:flex;
} 
